# Maven
/target
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapperDownloader.java

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp

